*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; max-width: 100vw or 100%;
    text-decoration: none;
    list-style-type: none;
}

body{
display: flex;
flex-direction: column;
}

/* // Add a container div before nav, the logo, links and button */

.container {
width: 1200px;
display: flex;
flex-wrap: wrap;
}

.logo{
    color: purple;
    font-size: 30px;
    font-weight: 700;
    margin: 2px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
}
 a{
    color: inherit; 
} 
nav ul{
   display: flex;
    list-style-type: none;
    gap: 30px;
}
.btn{
    background-color: purple;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    padding: 15px 25px;
}

@media  (max-width:768px) {
    nav ul{
        display: none;
}
}
